html,
body {
    margin: 0;
}



body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: orangered;
    padding: 10px 20px 0px;


}


.menu ul {

    list-style: none;
    padding-left: 0;
}

.menu ul a {
    position: relative;
    top: 15rem;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.menu .pata {
    position: relative;
    top: -7rem;
    left: 1.67rem;
    width: 6rem;
    height: 6rem;
}

.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    height: 15.1rem;

}

img {
    width: 63rem;
    height: 15rem;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.content .servicosClinicosECirurgicos{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.content .bemEstarEPetShop{
    display: flex;
    flex-direction: row;
    gap: 6em;
}
.content .tabela{
    margin: .5rem 0;
    text-align: center;
    
    

}

.tabela tbody tr:nth-child(even) {
  background-color: #f7f2f2;
}

.content .tabela th{
    text-align: center;
    padding: .5rem;
    background-color:#22333d;
    color: white;

}
.content .tabela td{
 padding: 0 2rem;
}

.content .tabela .servicos{
    text-align: left;

}

.content .mapaComFormulario{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.content .formulario{
    margin-top: -1rem;
    background-color: #22333d;
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    color:white;
    display: flex;
    flex-direction: column;
    
}
.content .nomeEmailAssunto{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;  

    
}
    
.content .formulario h3{
    color: #ff4500;
    
}
button{
    background-color: #ff4500;
    color: white;
    
}


.footer {
    background-color: #8b8898;
    min-height: 150px;
}
.footer footer{display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -7rem;
}

.footer .gatoCorrendo {
    position: relative;
    bottom: -0.2rem;
    left: 1rem;
    width: 11rem;
    height: 9rem;
}
.footer .ratoCorrendo {
    position: relative;
    bottom: 1rem;
    left: 37rem;
    width: 6rem;
    height: 3rem;
}
.footer a {
    text-decoration: none;
    color: white;
    
}
.contato ,.endereco{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.contato{
margin-top: -1rem;
gap: .5rem;
}
.endereco{
margin-top: -2rem;
gap: .5rem;
}