<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template - Utilizar como modelo</title>
    <link rel="stylesheet" href="../assets/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <!-- Aqui vai o seu menu -->
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="horario-de-atendimento.html">Horário de atendimento</a></li>
                <li><a href="sobre-a-clinica.html">Sobre</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
            <img class="pata" src="../img/pata logo.png" alt="pata">

        </div>

        <div class="main">
            <div class="header">
                <!-- Aqui vai o seu header -->
                <img src="../img/header 2.png" alt="">


            </div>

            <div class="content">
                <!-- Aqui vai o seu conteúdo -->
                <div class="servicosClinicosECirurgicos">
                    <div>
                        <h3>Serviços Clínicos e Preventivo</h3>
                        <table class="tabela">
                            <thead>
                                <tr>
                                    <th>Serviços</th>
                                    <th>Preço</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="servicos">Consulta de rotina (check-up)</td>
                                    <td>120,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Consulta de rotina (check-up)</td>
                                    <td>70,00 – 100,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Vermifugação e antipulgas</td>
                                    <td>50,00 – 80,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Castração (cães e gatos)</td>
                                    <td>250,00 – 450,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h3>Serviços Cirúrgicos</h3>
                        <table class="tabela">
                            <thead>
                                <tr>
                                    <th>Serviços</th>
                                    <th>Preço</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="servicos">Cirurgias gerais</td>
                                    <td>A partir de 500,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Cirurgia ortopédica</td>
                                    <td>A partir de 1.200,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Remoção de tumores</td>
                                    <td>600,00 – 1.000,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Cirurgia oftalmológica</td>
                                    <td>Sob consulta</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="bemEstarEPetShop">
                    <div>
                        <h3>Estética e Bem-Estar Animal</h3>
                        <table class="tabela">
                            <thead>
                                <tr>
                                    <th>Serviços</th>
                                    <th>Preço</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="servicos">Banho e tosa (porte pequeno)</td>
                                    <td>60,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Banho e tosa (porte medio)</td>
                                    <td>75,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Hidratação de pele e pelos</td>
                                    <td>40,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Corte de unhas</td>
                                    <td>25,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h3>Pet Shop e Nutrição</h3>
                        <table class="tabela">
                            <thead>
                                <tr>
                                    <th>Produtos</th>
                                    <th>Preço</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="servicos">Rações premium (kg)</td>
                                    <td>30,00 – 55,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Petiscos funcionais </td>
                                    <td>15,00 – 35,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Suplementos nutricionais</td>
                                    <td>45,00 – 90,00</td>
                                </tr>
                                <tr>
                                    <td class="servicos">Produtos de higiene </td>
                                    <td>10,00 – 50,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <h3>Horário de Atendimento</h3>
                    <table class="tabela">
                        <thead>
                            <tr>
                                <th>Serviços</th>
                                <th>Segunda a Sexta</th>
                                <th>Sábados</th>
                                <th>Feriados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="servicos">
                                    <p>Serviços clínicos</p>
                                </td>
                                <td>08h - 19h</td>
                                <td>08h - 14h</td>
                                <td>08h - 14h</td>
                            </tr>
                            <tr>
                                <td class="servicos">
                                    <p>Serviços cirúrgicos</p>
                                </td>
                                <td>08h - 19h</td>
                                <td>08h - 14h</td>
                                <td>08h - 14h</td>
                            </tr>
                            <tr>
                                <td class="servicos">
                                    <p>Serviços de estética</p>
                                </td>
                                <td>08h - 19h</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="footer">
                <!-- Aqui vai o seu rodapé -->
                <img class="gatoCorrendo" src="../img/gato correndo.png" alt="">
                <img class="ratoCorrendo" src="../img/rato correndo.png" alt="">
                <footer>
                    <p>© 2025 Allyson Dev. Todos os direitos reservados.</p>
                    <nav>
                        <a href="sobre-a-clinica.html">Sobre</a> |
                        <a href="contato.html">Contato</a> |
                        <a href="privacidade.html">Política de Privacidade</a>
                    </nav>                    
                </footer>
            </div>
        </div>
    </div>
</body>

</html>